<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">My Recepies</h1>
    <p class="lead">Where some fun reciepies may live.</p>
    <p> <%= link_to "Sign up or Log in", "#", class: "btn btn-secondary" %></p>
  </div>
</div>
